<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Reset Password</h2>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form [formGroup]="resetPasswordForm" (keydown)="handleKeyDownOnForm($event)">
            <label for="password-input" class="form-label">Password</label>
            <input type="password" class="form-control" id="password-input" formControlName="password">
            <label for="confirmpassword-input" class="form-label">Confirm Password</label>
            <input type="password" class="form-control" id="password-input" formControlName="confirmpassword">
            <button type="button" class="btn btn-primary" (click)="handleSubmit($event)" *ngIf="!hasFormBeenSubmitted">Submit</button>
            <div class="spinner-border text-primary" role="status" *ngIf="hasFormBeenSubmitted">
                <span class="visually-hidden">Reseting...</span>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>