<div class="card" *ngIf="successfulLogins.length > 0">
    <div class="card-title text-center">
        <h3>Successful Logins</h3>
    </div>
    <div class="card-body">
        <div *ngFor="let login of successfulLogins;">
            <div class="card">
                <div class="card-title text-center">
                    <h5>{{login.city}}, {{login.country}}</h5>
                    <p><b>Your IP Address:</b> {{login.ip}}</p>
                    <p><b>User Agent:</b> {{login.userAgent}}</p>
                    <p><b>Was This You?</b></p>
                    <button class="btn btn-primary" (click)="handleWasThisMe(true, login.id)">Yes</button>
                    <button class="btn btn-danger" (click)="handleWasThisMe(false, login.id)">No</button>
                </div>
            </div>
        </div>
    </div>
</div>