<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Forgot Password</h2>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col">
    </div>
    <div class="col">
        <form [formGroup]="forgotPasswordForm" (keydown)="handleKeyPress($event)">
            <label for="email-input" class="form-label">Email</label>
            <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp" formControlName="email">
            <button type="button" class="btn btn-primary" *ngIf="!isFormSubmitted" (click)="handleSubmit($event)">Submit</button>
            <div class="spinner-border text-primary" role="status" *ngIf="isFormSubmitted">
                <span class="visually-hidden">Loading...</span>
            </div>
        </form>
    </div>
    <div class="col"></div>
</div>