<div class="card">
    <div class="card-title text-center">
        <h3>2FA Security Settings</h3>
    </div>
    <div class="card-body">
        <form [formGroup]="phone2FAForm">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" *ngIf="!is2FAOn" (click)="edit2FAPhoneStatus($event)">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked *ngIf="is2FAOn" (click)="edit2FAPhoneStatus($event)">
                <label class="form-check-label" for="flexCheckDefault">
                  Enable 2FA
                </label>
              </div>
            <input type="email" class="form-control" id="phone-number-input" aria-describedby="phone-number" formControlName="phoneNumber" placeholder="Phone Number Here..." (keyup)="handleKeyPressOnPhoneInput($event)">
            <button type="button" class="btn btn-primary" (click)="isPhoneNumberValid($event)" *ngIf="!hasPhoneNumberBeenSubmitted">Submit</button>
            <div class="spinner-border text-primary" role="status" *ngIf="hasPhoneNumberBeenSubmitted">
                <span class="visually-hidden">Loading...</span>
            </div>
        </form>
    </div>
</div>