<div class="row">
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="https://res.cloudinary.com/dqseuzzwi/image/upload/v1667667292/92e472c7-a01b-494e-b932-df2517ad35fe_wzqkjm.jpg" />
            <div class="card-body">
                <h5 class="card-title">About Our Author</h5>
                <p class="card-text">Mike Mulchrone is an experienced software engineer that has worked for startup .com's, established federal consultancies, financial institutions, a teacher, and a freelancer.
                    I started writing my own authentication for websites in 2016 and was taught more on this subject by my mentors over the years.
                    The development is open-source because I'd hope to pass along these skills that were taught to me to other developers that are interested in the subject.
                </p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 20rem;">
            <img src="https://res.cloudinary.com/dqseuzzwi/image/upload/v1667667416/115334158_cftusz.jpg" />
            <div class="card-body">
                <h5 class="card-title">About Encryption API Services </h5>
                <p class="card-text">The services offered to our customers is written by experienced software experts. Our belief is that 
                    is that not every developer has the time or the resources to research teachs cryptography topics on their own and would much rather
                    pay for a high up-time reliability service.
                </p>
            </div>
        </div>
        <br />
    </div>
    <div class="col"></div>
</div>