<div class="row">
    <div class="col"></div>
    <div class="col">
        <h2>Register</h2>
    </div>
    <div class="col"></div>
</div>

<div class="row">
    <div class="col"></div>
    <div class="col">
        <form>
            <div class="mb-3">
              <label for="email-input" class="form-label">Email address</label>
              <input type="email" class="form-control" id="email-input" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="password-input" class="form-label">Password</label>
              <input type="password" class="form-control" id="password-input">
            </div>
            <button type="button" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <div class="col"></div>
</div>